
.logInBackground {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: 200;
    position: absolute;
    margin: 0;
    padding: 0;
    top:0;
}
.logInPopUp    {
    background-color: white;
    opacity:1;
    width:60%;
    height: 70%;
    z-index: 201;
    position:absolute;
    margin-left:20%;
    box-shadow: #517feb;
    border: 1px solid lightslategray;
    padding-left: 10%;
    padding-right: 10%;

}

.blockPopUp {
    display:none;
}

.logInPopUp p{
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

.socialMediaLogIn   {
    width: 200px;
    color: white;
    background-color: #96acc4;
    margin:auto;
    margin-bottom: 30px;
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 20px;

}
.socialMediaLogIn img   {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
    display: inline;
}
