@media screen and (min-width: 550px){
    .unVisibleEl {
        visibility: visible;
    }
}

@media screen and (max-width: 500px){
        .visibleEl {
            visibility: hidden;
        }
        .unVisibleEl {
            visibility: hidden;
    }
}
