/*.scroll-panel   {*/
    /*max-height: 80px;*/
    /*overflow-y: scroll;*/
/*}*/


@media screen and (max-height: 1200px){
    .scroll-panel {
        max-height: 800px;
        overflow-y: scroll;
    }
}

@media screen and (min-height: 1201px) and(max-height: 1500px) {
    .scroll-panel {
        max-height: 500px;
        overflow-y: scroll;
    }
}

@media screen and (min-height: 1501px) {
    .scroll-panel {
        max-height: 800px;
        overflow-y: scroll;
    }
}