.scroll-panel   {
     max-height: 200px;
     overflow-y: scroll;
 }
@media screen and (min-width: 992px){
    .scroll-panel {
        max-height: 250px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1200px){
    .scroll-panel {
        max-height: 700px;
        overflow-y: scroll;
    }
}

.allTaskList    {
    max-height: 700px;
    overflow-y: scroll;
}