<div class="row">
    <div class="panel panel-info col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Zaplanowane zadania:</h3>
            <!--1. Zadanie zrealizowane done = true-->
            <!--2. Anuluj zadanie -->
        </div>
        <div class="panel-body">
            <ul ng-repeat="item in taskList">
                <li class="list-group-item" >
                    <input type="checkbox" ng-model="item.done"/>
                    <input type="checkbox" ng-model=""/>
                    <span>{{item.date}}</span>
                    {{item.task}}</li>
            </ul>

        </div>
    </div>

</div>
<div class="row">
    <div class="panel panel-success col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Zrealizowane zadania:</h3>
            <!--0. zadanie zrealizowane done = true-->
            <!--1. usuń z listy-->
        </div>
        <div class="panel-body">
            <ul ng-repeat="item in taskList">
                <li class="list-group-item" >
                    <input type="checkbox" ng-model="item.done"/>
                    <span class="glyphicon glyphicon-ok"></span>
                    <input type="checkbox" ng-model=""/>
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>{{item.date}}</span>
                    {{item.task}}</li>
            </ul>

        </div>
    </div>

</div>
<div class="row">
    <div class="panel panel-danger col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Anulowane zadania:</h3>
            <!--1. Przesuń na do zrobienia-->
            <!--Usuń z listy-->
        </div>
        <div class="panel-body">
            <ul ng-repeat="item in taskList">
                <li class="list-group-item">
                    <input type="checkbox" ng-model="item.done"/>
                    <input type="checkbox" ng-model=""/>
                    <span>{{item.date}}</span>
                    {{item.task}}</li>
            </ul>

        </div>
    </div>

</div>