

    <div class="dashboard-heading col-md-12 col-xs-12"><h2>Zaplanuj swój tydzień</h2></div>
    <div class="row">
        <button class="btn btn-default" type="submit" ng-click="show=false">Lista wszystkich zadań</button>
        <button class="btn btn-default" type="submit" ng-click="show=true">Zarządzaj zadaniami</button>

    </div>
    <div>
    <change-list ng-show="show"></change-list>
    </div>
    <div class="row" ng-hide="show">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dodaj nowe zadania:</h3>
            </div>
            <div class="panel-body">

                <form class="form-inline row">
                    <div class="form-group">
                        <label>Data</label>
                        <input type="text" class="form-control datepicker" id="data1" placeholder="Data" ng-model="newItem.date" style="margin-top:0px;">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="Wpisz nowe zadanie"ng-model="newItem.task" style="margin-top:0px;">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addItem(newItem)">Dodaj</button>
                </form>

            </div>
        </div>

    </div>
    <div class="row" ng-hide="show">
        <div class="panel panel-info col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title">Zaplanowane zadania:</h3>
            </div>
            <div class="panel-body allTaskList">
                <ul>
                    <li class="list-group-item" ng-repeat="item in taskList" ng-style="item.itemStyle">
                        <span>{{item.date}}</span> :
                        {{item.task}}</li>
                </ul>

            </div>
        </div>


</div>





<footer class="main-footer">copyright c 2016 Monitor Kursów Walut</footer>
<!-- scripts !-->


<script src="js/Chart.js-master/Chart2.js"></script>
    <script src="js/ToDoList.js"></script>

<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>


</body>
</html>
>